<div class='page1'>
    <h1 class="line1">NAME OF COMPANEY</h1>
    <p class="line2">THE BEST FURNITURE, FROM CLASSIC</p>
</div>
<div class="cantainer anotherpage1">
    <div class="row">
        <div class="col-md-4">
           
            <p class="borderpage1"><i class="fa fa-angle-right" aria-hidden="true"></i><a  class="alinks" href="#/bedroom">home page</a></p>
            <img class="boxes" src="http://www.gomodern.co.uk/tn.php?w=480&h=345&img=./store/images/P/GM-MILM-04-1-medium.jpg">
        </div>
        
        <div class="col-md-4">
           <p class="borderpage1"><i class="fa fa-angle-right" aria-hidden="true"></i><a class="alinks" href="#/bedroom">bedroom furniture</a></p>
            <img class="boxes" src="http://www.gomodern.co.uk/tn.php?w=480&h=345&img=./store/images/P/GM-COMP-26-1-medium.jpg">
        </div>
        <div class="col-md-4">
           <p class="borderpage1"><i class="fa fa-angle-right" aria-hidden="true"></i><a  class="alinks" href="#/diningroom">dining furniture</a></p>
            <img class="boxes" src="http://www.gomodern.co.uk/tn.php?w=480&h=345&img=./store/images/P/GM-PRIMA-01-1-medium.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
           
            <p class="borderpage1"><i class="fa fa-angle-right" aria-hidden="true"></i> <a  class="alinks" href="#livingroom">living room furniture</a></p>
            <img class="boxes" src="http://www.gomodern.co.uk/tn.php?w=480&h=345&img=./store/images/P/GM-MILL-09-1-medium.jpg">
        </div>
        
        <div class="col-md-4">
           <p class="borderpage1"><i class="fa fa-angle-right" aria-hidden="true"></i> <a  class="alinks" href="">fifth page</a> </p>
            <img class="boxes" src="http://www.gomodern.co.uk/tn.php?w=480&h=345&img=./store/images/P/GM-UMBR-03-1-medium.jpg">
        </div>
        <div class="col-md-4">
           <p class="borderpage1"><i class="fa fa-angle-right" aria-hidden="true"></i><a  class="alinks" href="">sixth page</a></p>
            <img class="boxes" src="http://www.gomodern.co.uk/tn.php?w=480&h=345&img=./store/images/P/GM-SANN-03-1-medium.jpg">
        </div>
    </div>
</div>
